* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  background-color: white;
  line-height: 1;
}

header {
  z-index: 2;
  position: fixed;
  background-color: white;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  width: 100%;
}

nav {
  text-align: center;
  width: 80%;
  margin: auto;
  height: 50px;
  margin-top: 0;
}

#navbar-spacing {
  width: 100%;
  height: 34px;
}

.nav-controls {
  float: left;
}

.nav-controls a {
  position: relative;
  top: 7px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-controls img {
  position: relative;
  margin-right: 12px;
  top: 14px;
}

.user-controls {
  padding: 5px;
  float: right;
}

.btn-user-controls {
  transition: background-color 0.5s ease;
  cursor: pointer;
  padding: 9px 19px;
  font-size: 9px;
  margin: 5px;
  font-weight: bold;
  color: white;
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  border-radius: 3px;
}

.btn-user-controls:hover {
  background-color: rgb(50, 104, 145);
}

.logo-container {
  text-align: center;
  position: relative;
  top: 10px;
  z-index: -1;
}

.wrapper {
  width: 1024px;
  margin: 50px auto 0 auto;
}

.article-title {
  text-align: center;
  width: 100%;
  margin-bottom: 100px;
}

.article-title h1 {
  text-align: left;
  margin: 25px 0 17px 20%;
  font-size: 40px;
  font-style: italic;
}

.article-title img {
  margin: 0 auto;
  display: block;
}

.title-img-caption {
  float: left;
  width: 73%;
  text-align: left;
  font-size: 15px;
}

figcaption {
  line-height: 18px;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  color: rgb(102, 102, 102);
  margin: 10px 0px 16px;
}

.article-img-caption {
  width: 95%;
  font-size: 14px;
}

.credit {
  font-size: 13px;
  color: rgb(163, 161, 161);
}

.article-section {
  width: 90%;
  margin: 0 auto;
}

.sidebar {
  float: right;
}

.article-content {
  margin: 0 auto;
  width: 60%;
}

.article-content iframe {
  width: 100%;
  height: 319px;
  margin: 23px auto;
}

.article-content .article-2-img {
  width: 100%;
}

.article-content p {
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: rgb(80, 80, 80);
}

.social-icons {
  padding-top: 20px;
}

.social-icons .author {
  font-size: 16px;
  font-weight: bold;
  display: block;
  height: 45px;
}

.social-icons a {
  text-decoration: none;
  color: inherit;
}

.social-icons-list {
  padding: 0;
  height: 50px;
}

.social-icons li {
  display: inline;
}

.social-icons .right-aligned-icons {
  float: right;
}

.social-icons #date {
  font-size: 14px;
}

.social-icons .right-aligned-icons li {
  padding-left: 10px;
}

.social-icons img {
  vertical-align: middle;
}

.social-icons .right-aligned-icons i {
  padding: 5px;
}

.social-icons .right-aligned-icons .social {
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: #eee;
  border: 1px #eee solid;
  border-radius: 100%;
}

.article-break {
  line-height: 17px;
  text-align: center;
  margin: 15px 0;
  font-size: 12px;
}

.article-break hr {
  width: 15%;
  margin: 15px auto;
}

.article-link {
  color: #326891;
}

.break-caption * {
  font-weight: 800;
  display: block;
}

.break-caption a {
  text-decoration: none;
  color: rgb(50, 104, 145);
}

.article-break span {
  display: block;
}

.theory-of-inflation-container {
  position: relative;
  width: 100%;
  height: 671px;
}

.theory-of-inflation-container img {
  margin-top: 13px;
  width: 100%;
  height: 576px;
}

.theory-item-container {
  position: absolute;
  width: 228px;
  font-size: 14px;
}

.theory-row-1 {
  top: 213px;
}

.theory-row-2 {
  top: 503px;
}

.theory-item-1,
.theory-item-5 {
  left: 0;
}

.theory-item-2,
.theory-item-6 {
  left: 263px;
}

.theory-item-3,
.theory-item-7 {
  left: 530px;
}

.theory-item-4,
.theory-item-8 {
  left: 800px;
}

.source {
  margin-bottom: 40px;
}

.source hr {
  width: 6%;
  border-color: black;
  border-width: 0.7px;
}

.source p {
  font-size: 13px;
  padding: 15px 0;
}

.article-end {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 11px;
  color: rgb(102, 102, 102);
  margin-bottom: 23px;
}

.article-end a {
  color: inherit;
}

.read-btn {
  padding: 11px 91px;
  font-size: 13px;
}

.up {
  margin-top: -5px;
}

.bottom {
  margin-top: 7px;
}
