* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #333;
}

header {
  z-index: 2;
  position: fixed;
  background-color: white;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  width: 100%;
}

nav {
  text-align: center;
  width: 80%;
  margin: auto;
  height: 50px;
  margin-top: 0;
}

#navbar-spacing {
  width: 100%;
  height: 34px;
}

.nav-controls {
  float: left;
}

.nav-controls a {
  position: relative;
  top: 7px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-controls img {
  position: relative;
  margin-right: 12px;
  top: 14px;
}

.user-controls {
  padding: 5px;
  float: right;
}

.btn-user-controls {
  transition: background-color 0.5s ease;
  cursor: pointer;
  padding: 9px 19px;
  font-size: 9px;
  margin: 5px;
  font-weight: bold;
  color: white;
  background-color: #567b95;
  border: 1px solid rgb(50, 104, 145);
  border-radius: 3px;
}

.btn-user-controls:hover {
  background-color: rgb(1, 6, 10);
}

.logo-container {
  text-align: center;
  position: relative;
  top: 10px;
}

.wrapper {
  width: 1024px;
  margin: 50px auto 0 auto;
}

.article-title {
  text-align: center;
  width: 100%;
  margin-bottom: 100px;
}

.article-title h1 {
  text-align: left;
  margin: 25px 0 17px 20%;
  font-size: 40px;
  font-style: italic;
}

.article-title img {
  margin: 0 auto;
  display: block;
}

.title-img-caption {
  float: left;
  width: 73%;
  text-align: left;
  padding-top: 10px;
  font-size: 17px;
  color: #666;
}

.credit {
  font-size: 13px;
  color: rgb(138, 136, 136);
}

.article-section {
  width: 90%;
}

.sidebar {
  float: right;
}

.article-content {
  line-height: 28px;
  margin: 0 auto;
  width: 60%;
}

.article-content p {
  font-size: 20px;
  margin-bottom: 25px;
}

.article-break {
  line-height: 20px;
  text-align: center;
  margin: 15px 0;
}

.article-break hr {
  width: 15%;
  margin: 15px auto;
}

.article-link {
  color: #326891;
}

.break-caption * {
  font-weight: 800;
  display: block;
}

.break-caption a {
  text-decoration: none;
  color: rgb(50, 104, 145);
}

.article-break span {
  display: block;
}
